:root { 
    --whiteColor: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    height: 60px;
    background-color: var(--whiteColor);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header img {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 1.5rem;
    color: #333;
}

.formContainer {
    width: 90%;
    height: 100px;
    content: "";
    
    margin: 0 auto;
    margin-top: 90px;
    
    border: #333 2px solid;
}

