.formContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.formContent h1 {
    font-size: 1rem;
}

.formContent input {
    width: 80%;
    height: 30px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
